<<<<<<< Updated upstream
body{
	background-image: url("img/park2.jpg");
	background-size: cover;
}
=======

>>>>>>> Stashed changes


nav a {
	color: white !important;
<<<<<<< Updated upstream
}
.navbar{
	border: solid darkorange 1px;
	border-bottom: solid 2px white;
=======
	background-color: darkorange;
}
.navbar{
	border: solid darkorange 1px;
>>>>>>> Stashed changes
}
.dropdown-toggle:hover{
	background-color: orange !important;
}
.dropdown-toggle{
	background-color: darkorange !important;
}
.dropdown-menu {
	background-color: darkorange;
	/*border-bottom: solid white 1px !important;*/
}
nav ul li a:hover{
	background-color: orange !important;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: orange;
}
 .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: orange;
}
.banner{
	display: flex;
	justify-content: center;
}
.navbar {
<<<<<<< Updated upstream
	margin-bottom: 30px;
}
.navbar fixed-left{
	height: 300px;
}
.fixed-left{
	width: 300px;
	border: solid 2px white;
	height: 800px;
	background-color: darkorange;
	text-align: center;
}

h4{
	color: white;
	border: solid 2px orange;
	background-color: orange;
	margin: 20px;
	margin-bottom: 10px;
}
=======
	margin-bottom: 0px;
}
>>>>>>> Stashed changes
